config INPUT_GPIO_PULSE_GENERATOR
	tristate "Generic GPIO pulse generator"
	depends on GPIOLIB || COMPILE_TEST
	help
	  Say Y here to add an GPIO pulse generator driver.

	  To compile this driver as a module, choose M here: the
	  module will be called gpio-pulse-generator.
